<h1>Book Store</h1>

<% @books.each do |book| %>

<h3><%= book.title %></h3>
<h3><%= book.author %></h3>
<h3><%= book.genre %></h3>
<h3><%= book.synopsis %></h3>
<h3><%= book.image %></h3>
<h3><%= book.price %></h3>
<h3><%= book.quantity %></h3>
<h3><%= book.rating %></h3>
<br>

<% end %>