<h1>Book Store</h1>

<div class="row">

  <% @books.each do |book| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <h3><%= link_to book.title, "/books/#{book.id}" %></h3>
        <h4>Author: <%= book.author %></h4>
        <h4>Genre: <%= book.genre %></h4>
        <h4>Price: <%= book.price %></h4>
        <h4>Stock: <%= book.quantity %></h4>
        <h4>Rating: <%= book.rating %></h4>
        <a href="/books/<%= book.id %>"><%= image_tag book.image %></a>

        <br>
        <%= link_to 'Edit', "/books/#{book.id}/edit" %>
        <br>
      </div>
    </div>
  <% end %>

</div>